.page-background {
    min-height: 100vh;
    position: relative;
    background-color: #0f172a;
    overflow: hidden;
}

.page-background::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 0;

    background-color: #0f172a;
    background-image:
        linear-gradient(
            to right,
            rgba(148, 163, 184, 0.2) 1px,
            transparent 1px
        ),
        linear-gradient(
            to bottom,
            rgba(148, 163, 184, 0.2) 1px,
            transparent 1px
        );

    background-size: 40px 40px;
    pointer-events: none;
}

.page-background > * {
    position: relative;
    z-index: 1;
}


#top-bar {
    position: relative;
    width: 100%;
    padding: 1rem;
}

#hamburger {
    position: relative;
    z-index: 2;
}

#site-title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    white-space: nowrap;
}
